body {
	background-size: cover;
	background-color:  rgba(4, 4, 4, 0.877);
	padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Laila', serif;
}
.contenidoContacto {
	width: 100%;
	background-color: rgba(4,4,4,0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
h2, h3 {color: yellow;}
a{text-decoration: none;
	color: white;}
a:hover{color: yellow;}
.ubicacion {
	width: 30%;
	margin: 15px;
}
.ubicacion ul {list-style-type: none;
color: white;}
.formulario{
	width: 40%;
	margin: 15px;
	color:#999;
}
.formulario h4{
	font-size: 20px;
	margin: 0;
	color:  rgb(56, 247, 56);
}
.formulario form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.formulario label {
	display: flex;
	flex-direction: column;
	font-family: Helvetica, sans-serif;
}
label p {
	font-family: Helvetica, sans-serif;
	font-size: small;
	margin-bottom: 0;
}
.caja-1{
	width: 150px;
	height: 40px;
	margin: 5px 20px 10px 0px;
	padding:5px 10px;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}
.caja-2{
	width: 545px;
	height: 100px;
	padding: 10px;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}
.enviar{
	margin: 10px;
	padding: 10px;
	background-color: rgb(56, 247, 56);
	font-weight: 700;
	border-radius: 20px 5px;
	border-color: rgb(255, 255, 255);
}
.preguntas {
	margin: 15px;
	padding: 5px;
}
.preguntas h2 { margin: 0;}
.preguntas a {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}
.preguntas a:hover {
	color: yellowgreen;
}
/*		NOSOTROS		*/
.nosotros {
	color: white;
	padding: 5px;
}

/*      SERVICIOS       */
.servicios {
	color: white;
}
.servicios ul li {
	list-style: none;
	font-size: medium;
	color: yellowgreen;
}
.servicios p {
	font-size: small;
}

@media all and (max-width: 1023px) and (min-width:600px) {
	.contenidoContacto {
		width: 100%;
		background-color: rgba(4,4,4,0.5);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.ubicacion{
		width: 80%;
	}
	.formulario{
		width: 80%;
	}
	.preguntas{
		width: 80%;
	}

}

@media all and (max-width: 599px) {
		header {
		background-position: center right -50px;
		background-size: 150%;
		}
		.contenidoContacto {
			box-sizing: border-box;
			width: 100%;
			padding: 1% 5%;
			background-color: rgba(4,4,4,0.5);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		.ubicacion {
			width: 100%;
			margin: 0;
		}
		.ubicacion iframe {
			width: 80%;
		}
		.formulario {
			width: 80%;
		}
		.preguntas a:active {
			color: yellowgreen;
		}


		/*             POR REVISAR              */
		/*		NOSOTROS		*/
		.nosotros {
			color: white;
			padding: 5px;
		}
		
		/*      SERVICIOS       */
		.servicios {
			color: white;
		}
		.servicios ul li {
			list-style: none;
			font-size: medium;
			color: yellowgreen;
		}
		.servicios p {
			font-size: small;
		}	

		.redes{
			width: 100%;
		}
}
