body {
	background-size: cover;
	background-color:  rgba(4, 4, 4, 0.877);
    box-sizing: border-box;
    font-family: 'Laila', serif;
}
.contenidoContacto {
	width: 100%;
	background-color: rgba(4,4,4,0.5);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
h2, h3 {color: yellow;}
a{text-decoration: none;
	color: white;}
a:hover{color: yellow;}
.ubicacion {
	width: 30%;
	margin: 15px;
}
.ubicacion ul {list-style-type: none;
color: white;}
.formulario{
	width: 40%;
	margin: 15px;
	color:#999;
}
.formulario h4{
	font-size: 20px;
	margin: 0;
	color:  rgb(56, 247, 56);
}
.formulario form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.formulario label {
	display: flex;
	flex-direction: column;
	font-family: Helvetica, sans-serif;
}
label p {
	font-family: Helvetica, sans-serif;
	font-size: small;
	margin-bottom: 0;
}
.caja-1{
	width: 150px;
	height: 40px;
	margin: 5px 20px 10px 0px;
	padding:5px 10px;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}
.caja-2{
	width: 545px;
	height: 100px;
	padding: 10px;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}
.enviar{
	margin: 10px;
	padding: 10px;
	background-color: rgb(56, 247, 56);
	font-weight: 700;
	border-radius: 20px 5px;
	border-color: rgb(255, 255, 255);
}
.preguntas {
	margin: 15px;
	padding: 5px;
}
.preguntas h2 { margin: 0;}
.preguntas a {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}
.preguntas a:hover {
	color: yellowgreen;
}
/*		NOSOTROS		*/
.nosotros {
	color: white;
	padding: 5px;
}
.card {
	width: 200px;
	border-radius: 20px;
	background: rgb(182, 220, 252);
	margin: 20px;
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	text-align: center;
}
.card>img{
	width: 100%;
	border-radius: 20px 20px 0 0;
	transition: all 0.5s;
	transition-timing-function: ease-in;
}
.card>img:hover{
	background: red;
	transform: rotateY(180deg);
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card h4 {
	margin-left: 0;
}
.card p {
	padding: 2px 10px;
}
.card button {
	border: none;
	border-radius: 20px;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}
.card button:hover, .card a:hover {
	opacity: 0.7;
	color: rgb(100, 100, 100);
}

/*      SERVICIOS       */
.servicios {
	color: white;
}
.servicios ul li {
	list-style: none;
	font-size: medium;
	color: yellowgreen;
}
.servicios p {
	font-size: small;
}

@media all and (max-width: 1023px) and (min-width:600px) {
	.contenidoContacto {
		width: 100%;
		background-color: rgba(4,4,4,0.5);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.ubicacion{
		width: 80%;
	}
	.formulario{
		width: 80%;
	}
	.preguntas{
		width: 80%;
	}
	.servicios ul {
		padding: 5px;
	}

}

@media all and (max-width: 599px) {
		header {
		background-position: center right -50px;
		background-size: 150%;
		}
		.contenidoContacto {
			box-sizing: border-box;
			width: 100%;
			padding: 1% 5%;
			background-color: rgba(4,4,4,0.5);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		.ubicacion {
			width: 100%;
			margin: 0;
		}
		.ubicacion iframe {
			width: 80%;
		}
		.formulario {
			width: 80%;
		}
		.preguntas a:active {
			color: yellowgreen;
		}


		/*             POR REVISAR              */
		/*		NOSOTROS		*/
		.nosotros {
			color: white;
			padding: 5px;
		}
		
		/*      SERVICIOS       */
		.servicios {
			color: white;
		}
		.servicios ul li {
			list-style: none;
			font-size: medium;
			color: yellowgreen;
		}
		.servicios p {
			font-size: small;
		}	

		.redes{
			width: 100%;
		}
}
